<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather App</title>
</head>

<body>
    <h1>Sector-12 Weather Co.</h1>
    <div class="content">
        <form action="/" method="post" class="inputBox" autocomplete="off">
            <ul>
                <li>
                    <input type="text" name="cityName" id="cityInput" required="required">
                    <span>City Name</span>
                </li>
                <li>
                    <button type="submit">Go</button>
                </li>
            </ul>
        </form>
    </div>
    <p class="copyright">Copyright © Naman 2022</p>
</body>

</html>